/edocr2/tools/__pycache__/
/edocr2/keras_ocr/__pycache__/
/edocr2/models/
/recog_samples/
/detect_samples/
.env
/tests/Washers/
/washers_results/
/tests/4132864.jpg
/__pycache__/
models/
output/
results/
uploads/
synth_data/
gdt_preview/
*.png
*.json
*.sh
Anaconda3-*
__pycache__/
*.pyc
monenv/
